@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.jspsych-html-button-response-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.ib-div {
  background-color: #808080;
  height: 500px;
  width: 500px;
  border-style: solid;
  // border-width: 10px;
  border-color: #000000;
  display: flex;
}

.ib-target {
  background-color: #ffffff;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.ib-distractor {
  background-color: #000000;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.ib-probe {
  z-index: 99;
  opacity: 0;
  background-color: #808080;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  left: 0;
  right: 0;
}


.button {
  position: absolute;
  bottom: 20px;
}

.task-prompt {
  position: fixed;
  bottom: 10%;
  left: 50%;
}

.hl {
    display: none;
    height: 5px;
    background-color: #000000;
    margin: 1em 0;
    padding: 0;
    position: absolute;
    width: 1000%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* consent.html - the consent form */
.consent {
    display: block;
    margin: 0px;
    // padding-top: 20vh;
    height: auto;
    width: 960px;
    font-size: 100%;
    overflow: visible;
}

.legal {
    text-align: justify;
    font-size: 12pt;
    line-height: 1.1em;
}
